<div class="left_container">
	<h1>Search By Ingredient</h1>
	<div id="search_ingredients">
		<input /><button id="add_search_ingredient">Add</button><br>
	</div>
	<div id="ingredients_list"></div>
	<button id="search_by_ingredients">Search</button>
	<div id="recipe_search_results"></div>
</div>

<div class="right_container">
	<h1>Recently Added Recipes</h1>
	<% @recipes.each do |recipe| %>
		<li><%= link_to recipe.name, recipe_path(recipe) %></li>
	<% end %>
</div>