// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left_container{
	width: 400px;
	float: left;
}

.right_container{
	width: 400px;
	float: left;
	margin: 0 0 0 50px;
}

#suggested_ingredients_container{
	margin: 20px 0;
}

.suggested_ingredient{
	padding: 0 20px 0 0;
}

#recipe_description{
	height: 100px;
}

.field_with_errors .message {
	display: inline;
	padding: 0 0 0 5px;
	color: red;
}

form input {
	margin: 10px 5px 5px 0;
}

#recipe_name {
	margin: 10px 0 40px 0;
}

#ingredients_list{
	margin: 10px 0;
}

#ingredients_list li{
	list-style: none;
}

#recipe_search_results{
	margin: 10px 0;
}

#recipe_search_results li{
	list-style: none;
}

#show_recipe_main_header{
	font-size: 40px;
	font-weight: bold;
}

#show_recipe_sub_header{
	font-size: 24px;
	margin: 20px 0;
}

#show_recipe_sub_header2{
	font-size: 18px;
	margin: 20px 0 8px 0;
	text-decoration: underline;
}

#show_recipe_ingredients_list li{
	list-style: none;
	line-height: 26px;
}

#show_recipe_instructions{
	margin: 0 0 0 40px;
}